/* TEMPLATE CSS
*********************************************/
body {margin-top:20px; background-color:#DDDDFD;}

/* LAYOUT
*********************************************/
#pic {height: 400px; width:1200px; background-image:url("../images/header.png");}
#overall {height:100%; margin-left:50px; margin-bottom:100px; text-align:left; width:1200px; background-color:white}
#content {background-color:white;}
#sidebar {background-color:white;}
#header {background-color:#DDDDFD;}

#main {}


.form-search {margin:5px 0;}

